


/*////////////////////////////////////////////// 
General Styling - Body, Links, Img, Logo, Lines
///////////////////////////////////////////////*/

* {
 box-sizing: border-box;   
    
}

body {

margin: 0;
padding: 0;
color: #41545E;
}

p {
    margin: 1.5em auto 0 auto;
} 

.info-text p, .info-text2 p {
    
margin: 1.5em auto 0 auto;
} 

a {
 text-decoration: none;   
 color: inherit; 
 
}

ul a, #contact a {
 
           -webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
a:hover {
/*color: #34415C;*/
/*   color:#7698AA;*/
    color: black;
/* color:#8FB9CF;*/
}

#contact a:hover {
  color:#8FB9CF;  
}

img {
 width: 100%;   
}

.img {
width: 58px;
height: 58px;
align-self: center;
}

.img-mobile {
 width: 32px;
height: 32px;   
    
}

.logo-mobile {
display: -webkit-flex;
display: flex;
align-items: center;
-webkit-align-items: center;   
/*  background-color: hsla(202, 31%, 63%, .95); */
   background-color: hsla(201, 18%, 31%, 0.75);
padding: 5px;
justify-content: center;
-webkit-justify-content: center;
/*margin: 0;*/
/*margin-top: -28px;*/
position: fixed;
width: 100%;
    z-index: 99;
}

.logo-section {
 margin-right: 7px;
    
}

.title-section {
/*   flex-grow: 2;*/
    text-align: center;
}

.logo-title {
   font-size: 1em;  
color: white;
}
.logo-description {
     font-size: .65em;
    color: white;
}

    
.mask { 
height: 1px; 
/*margin: 4px 0;*/
    margin: 2px auto;
width: 80%; 
border-radius: 1px;
border-bottom: 1px solid white;
}

    
.mask2 { 
height: 1px; 
/*margin: 4px 0;*/
margin: 1em auto;
width: 40%; 
border-radius: 1px;
border-bottom: 2px solid white;
}

.mask3 { 
height: 1px; 
/*margin: 4px 0;*/
margin: 5em auto;
width: 60%; 
border-radius: 1px;
border-bottom: 1px solid grey;
}

.mask4 { 
height: 1px; 
/*margin: 4px 0;*/
margin: 3.5em auto;
width: 60%;
    max-width: 900px;
border-radius: 1px;
border-bottom: 1px solid grey;
}


.icon {
 height: 30px;
    width: 30px;
/*vertical-align:middle;*/
/*    line-height: 1.5;*/
    margin-right: 3px;
}





/*////////////////////////////////////////////// 
Navigation MENU
///////////////////////////////////////////////*/

nav.top-nav {
 display: none;   
 margin: 0;
    padding: 0;
    z-index: 100;
}

.mobile-nav {

display: flex;
    display: -webkit-flex;
position: fixed;
width: 100%;
align-items: center;
-webkit-align-items: center;   
/*  background-color: hsla(202, 31%, 63%, .95);*/
      background-color: hsla(201, 18%, 31%, 0.75);
padding: 10px;
justify-content: center;
/*    margin: 0;*/
    margin-top: 45px;
border-top: 2px solid white;
-webkit-box-shadow: 0px 3px 11px 0px rgba(76, 76, 76, 0.75);
-moz-box-shadow:    0px 3px 11px 0px rgba(76, 76, 76, 0.75);
box-shadow:         0px 3px 11px 0px rgba(76, 76, 76, 0.75);
    z-index: 100;
}

.mobile-nav li {
flex-grow: 1; 
    -webkit-flex-grow: 1;
text-align: center;
color: white;
list-style: none;
font-size: 1em;
}


/*////////////////////////////////////////////// 
HEADER
///////////////////////////////////////////////*/


.intro-cover {
margin: 0;
width: 100%;
height: 100vh;
background: url(../images/change.jpeg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
display: flex;
display: -webkit-flex;
flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
-webkit-justify-content: center;
}

    
#font1 {
color: white;
text-align: center; 
font-size: 1.75em;
letter-spacing: .01em;
font-weight: normal;
line-height: 1.25;
align-self: center;
margin-top: 1.5em;
/*text-shadow: -1px 0px 2px rgba(84, 84, 84, 0.75);*/

}



.intro-p {
font-size: .85em;
text-align: center;
color: white;
margin: .2em auto;
font-weight: 200;
}


.head-down-arrow {
width: 80px;
height: 80px;
margin: 2.5em auto;
}
    
    


/*////////////////////////////////////////////// 
Header Services Sections 
///////////////////////////////////////////////*/

.section-image {
 width: 40px;
    height: 40px;
margin: 2.5em auto;
    
}

.services {
    
 display: none;   
}

.grey {
background-color: #F7FAFA;    
    
}

.grey-o {
 background-color: hsla(209, 23%, 66%, .75);   
    
}

.white-text {
 color: white;   
}

/*//////////////////////////////////
DISCOVERY SECTION///////////////////
//////////////////////////////////*/

.information {
display: -webkit-flex;
display: flex;
flex-direction: column;
-webkit-flex-direction: column;
/*background-color: #FCFFFF;*/
margin: 0 auto;
/*align-items: stretch;*/
    padding: 3em .5em;
}

.reverse-p {
    padding: 0 .5em .5em .5em;
}

.information p {
font-size: 1em;
line-height: 1.7;    
}

.information h4 {
font-size: 1.75em;   
}

.text-display, .text-display1 {
text-align: center;
font-size: 4em;
color: #34415C;

}

.info-text, .cabrina-bio, info-text2 {
 padding: 1.5em .5em;  
   
}

.info-text h4, .info-text2 h4, .contact-info h4 {
text-align: center;
margin: 0 0 .75em 0;  
font-weight: normal;
font-size: 2em;
}

.center {
 text-align: center;
}



.register-button, .register-button2 {
padding: 10px 5px; 
font-size: 1em;

border-radius: 4px;
text-align: center;
width: 75%;
margin: 20px auto 0 auto;

    font-weight: 300;
}

.register-button {
color: white;
}

.register-button2 {
color: inherit;
    border: 2px solid #41545E;
}

.register-button {

    border: 2px solid white;
}



/*//////////////////////////////////
Meet the COACH SECTION///////////////////
//////////////////////////////////*/

.meet-coach {
 text-align: center;
    padding: 40px 5px;
}
.meet-coach p {
line-height: 0;
font-size: 1.25em;
margin: 0;
}

.cabrina-bio {
 z-index: 1;   
}

.meet-coach h4 { 
line-height: 0;
font-size: 2em; 
    font-weight: normal;
margin: .5em 0 1.25em 0; ;
}

.cabrina-mobile {
margin: 0 auto 75px auto;
height: 200px;
width: 200px;
}
.cabrina-mobile img {
   border-radius: 100%; 
 
}



/*//////////////////////////////////
Life Coaching Services SECTION///////////////////
//////////////////////////////////*/    
 
.down-arrow {
 width: 30px;
    height: 30px;
margin: 0 auto;
}

.head-down-arrow {
 width: 60px;
    height: 60px;
margin: 1.5em auto;
}


.direction-reverse {
flex-direction: column-reverse;   
}

 /*//////////////////////////////////
Section Breaks///////////////////
//////////////////////////////////*/  
    
        
        
.cover {
margin: 0 auto;
width: 100%;
/*height: 75vh;*/
padding: 0;

    }

#cover1 {
     background: url(../images/Optimized-section2.jpeg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
}

.section-break {
 padding: 50px 10px;
    color: white;
 
}

.section-break section {
    z-index: 1;   
}

.section-break blockquote, .quote-text blockquote {
 font-size: 1.1em;
    line-height: 1.6;
    font-weight: 200;
    font-style: italic;
}


.section-break h4 {
 text-align: center;   
    
}

.quote {
width: 35px;
height: 35px;
z-index: -1;
position: relative;
margin-bottom: -20px;
}

cite {
 font-size: .9em;
    line-height: 1.5;
    
}
 //////////////////////////////////
Company Review///////////////////
//////////////////////////////////  
    

.company-logo {
 height: 40px;
    width: 40px;
    margin: 5em .5em;
    
}

.flow {
    
   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;   
}

 /*//////////////////////////////////
Form Styling///////////////////
//////////////////////////////////*/  


/* Labels are titles for the text fields. You can use a placeholder instead if you like*/

label 
{
    font-size: 1.25em;
    display:block;
    margin-top: .75em;
    letter-spacing:2px;
}

/* Centres the form within the page */
form 
{
    margin:0 auto;
    width: 99%;
}

/* Styles the text boxes */
input, textarea, file {
	width:99%;
	height:33px;
/*	background-color:#efefef;*/
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
    
border: 1px solid #41545E;
	padding:8px;
	margin-top:3px;
	font-size: .9em;
	color:#3a3a3a;
}

input:focus, textarea:focus {
/*		border:1px solid;*/
   background-color: white;
    opacity: .9;
	}

/* Styles the text area boxes (message field) */	
textarea 
{
	height:213px;
/*	background-color: #efefef;*/
    border: 1px solid #41545E;
}


/* Styles the submit button */
#submit {
	/* background:url(images/submit.png); */
	width: 100%;
	height:48px;
	text-align: center;
/*	 text-indent:-9999px; */
	border:none;
	margin:20px auto;
	cursor:pointer;
    align-content: center;
    background-color: #41545E;
    border-bottom: 3px solid #7698AA;
/*      border-style: solid;*/
/*
   border-top-color: #C2BBB7;
    border-right-color: #5C5653;
    border-left-color: #C2BBB7;
    border-width: 3px;
*/
    color: white;
    font-size: 1.2em;
    border-radius: 2px;
    -webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

/* Styles the submit hover */	
#submit:hover {
	color: White;
/*	background-color: #7698AA;*/
    
    background-color:#8FB9CF;
}

    .container2 {
     width: 90%;
margin: 0 auto;
    }


  /*//////////////////////////////////
Background Images - Mobile///////////////////
//////////////////////////////////*/     
    
    
        
.special3 {
             background: url(../images/journey-compressor.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
     
 }


/*//////////////////////////////////
TESTIMONIAL SECTIONS BREAKS///////////////////
//////////////////////////////////*/

#special1 {
background: url(../images/mtn-compressor1.jpg) no-repeat center center;
  -webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;    
 }
    
    #special2 {
background: url(../images/desktop-test1.jpg) no-repeat center center;  
  -webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
 }

.client-image {
 height: 100px;
    width: 100px;
    border-radius: 100%;

    margin: 0 auto;
}

#client {

background: url(../images/review-pic.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;

}

#client2 {

background: url(../images/review-pic2.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;

}

#client3 {

background: url(../images/brian-photo.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;

}
.pic-image p {
 text-align: center;   
}

p.client-name {
    font-size: 1.65em;
    font-weight: bold;
    margin: .175em 0 0 0;
    
}

p.client-company {
 margin: -.3em 0 1em 0;   

    font-weight: 300;
    font-size: .85em;
}

/*//////////////////////////////////
Final SECTIONS BREAKS///////////////////
//////////////////////////////////*/    
.section-break-final {
 font-size: 1.5em;
text-align: center;
font-weight: 300;
display: flex;
display: -webkit-flex;
flex-direction: column;
-webkit-flex-direction: column;
justify-content: center;
-webkit-justify-content: center;
height: 75vh;
}


#special4 {
background: url(../images/final-image.jpg) no-repeat center center;  
  -webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
 }

    
.section-break-final p.special-goodbye {
font-size: 1rem;
 font-style: italic;   
}

   
    



  /*//////////////////////////////////
Contact Form - Mobile///////////////////
//////////////////////////////////*/     
    
    


    
    .contact-info h4 {
     margin: 0 0 -.25em 0;
        font-size: 1.5em;
        text-align: center;
    }
    
        .contact-info h5 {
     margin: .5em 0 -.65em 0;
        font-size: 1.75em;
            text-align: center;
    }
    
        .contact-info p {
        font-size: 1.75em;
/*            line-height: 1.45;*/
            max-width: 550px;
            text-align: center;
            font-weight: 300;
         
    }
    
     .contact-info p.left {
       font-size: 1em;
            line-height: 1.35;  
   max-width: 375px;
    }

.small-caps {
 font-variant: small-caps;
    font-size: 1.25em;
}



 /*//////////////////////////////////
FONT_FAMILY///////////////////
//////////////////////////////////*/ 



body {
  font-family: 'Open Sans', sans-serif;  
}

.section-career h3, .last-b, .register-button, .register-button2 {

font-family: 'Open Sans Condensed', sans-serif;

}

h1, h2, h3, h4, h5, .section-break-final p, .ideal {
  font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B';  
}


.section-break blockquote, .quote-text blockquote {
font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B';
font-style: italic;
}



/*//////////////////////// //////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

Tablet VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 690px) {
    
    .services {
display: -webkit-flex;
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
flex-direction: row;
-webkit-flex-direction: row;
}
    
    
        /*Services Section*/   
    
    .services {
     width: 90%;
  max-width: 700px;
      margin: -5em auto 6em auto;
/*
border: 1px solid #41545E;
        border-radius: 5px;
*/
    }
.section-career {  
margin: 0;
width: 33.3333333%;
    -webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
    padding: 1.5em 0;
    text-align: center;
    }
    
    
.section-career h3 {
font-size: 1.75em;
margin: 0;
font-weight: 300;
}

.section-career p {
/*    color: white;*/
    font-size: 1em;
    margin: 0;
}

    
.section-image {
margin: 1.5em auto;
    
}

    
    .section-career a {
     width: 100%;
        height: 100%;
    }
    
   
  
.info-text, .cabrina-bio, .info-text2 {
 padding: 2em;   
}
    


   
#font1 { 
font-size: 3em;
line-height: 1.15;
}


.intro-p {
 font-size: 1.25em;
}

    
}
    

/*//////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

DESKTOP VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 800px) {
    
    
.logo-mobile, .mobile-nav {
 display: none;

}
    
    .intro-cover {
height: 100vh;
    }
    

    
/*////////////////////////////////////////////// 
DESKTOP - NAVIGATION, HEADER, and SERVICES SECTION
///////////////////////////////////////////////*/

   
#font1 { 
font-size: 5.15em;
line-height: 1.1;
    font-weight: 400;
margin: 1em 0 0 0;
/*    text-shadow: -1px 0px 2px rgba(130, 130, 130, 0.75);*/
    text-shadow: -1px 0px 1px rgba(45, 45, 45, 0.74);
    letter-spacing: .01em;
}

.intro-p {
 font-size: 1.5em;
    font-weight: 200;
}
    

.head-down-arrow {
width: 80px;
height: 80px;
margin: 2.5em auto;
}
    
  
/*NAVIGATION*/

nav.top-nav {
display: inherit;
position: fixed;
width: 100%;
margin-top: 0px;
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
    
nav.top-nav.sticky {
-webkit-box-shadow: 0px 2px 7px 0px rgba(76, 76, 76, 0.75);
-moz-box-shadow:    0px 2px 7px 0px rgba(76, 76, 76, 0.75);
box-shadow:         0px 2px 7px 0px rgba(76, 76, 76, 0.75);
/*background-color: hsla(202, 31%, 63%, .65);*/
/*  background-color:  hsla(201, 18%, 31%, 0.94);*/
    background-color: hsla(201, 18%, 31%, 0.65);
   
}
    
ul.drop-nav.sticky {
/*background-color: hsla(202, 31%, 63%, .25);*/
     background-color: hsla(201, 18%, 31%, 0.2);
-webkit-box-shadow: 0 8px 6px -6px rgba(76, 76, 76, 0.75);
-moz-box-shadow: 0 8px 6px -6px rgba(76, 76, 76, 0.75);
box-shadow: 0 8px 6px -6px rgba(76, 76, 76, 0.5);
}
    
li.last-b.sticky {
/*      background-color: #82A7BD;   */
}
    
/*
.top-list li.sticky, .top-list li.sticky:nth-child(2), .logo-description.sticky {
  color: #41545E;   
        
    }
*/


.top-list {
display: -webkit-flex;
display: flex;
align-items: center;
-webkit-align-items: center;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
margin: 0;
}
    
.top-list li {
flex-wrap: wrap;
margin: 0 12px;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
list-style: none;
    color: white;
    font-size: 1em;
   

}


.top-list li:nth-child(2) {
margin-right: auto;  
padding: 6px 0px;
text-align: center;
}
    
.top-list li:first-child {
margin: 0 0 0 -30px;
padding: 0;
}
    
.top-list li:nth-child(5) {
margin-right: 47px;
}
    
    
.top-list li:last-child {
height: 100%;
padding: .3em 10px;
text-align: center;
font-size: 1em;
line-height: 1.5;
color: white;
margin-right: 15px;
font-weight: 300;
-webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
border: 1px solid white;
border-radius: 3px;
    s
}
    
    
nav.top-list li:last-child {
/*    background-color: #D16758;  */
}
/*
.top-list li:last-child:hover {
    background-color: #93B8CF;    
    }
*/
    
        li.last-b.sticky:hover {
/*    background-color: #7698AA;    */
              background-color:#8FB9CF;
    }
    
    
    
.logo-title {
   font-size: 1.85em;  
font-weight: bold;
}
.logo-description {
     font-size: .85em;

}

.mask { 

margin: 5px 0;
width: 100%; 

}
    
.mask2 { 
border-bottom: 5px solid white;
margin: 3em auto;
width: 15%; 

}


    
/*DROP DOWN MENU*/

.dropdown {
position: relative;
}
.drop-nav {
position: absolute;
display: none;
/*background: #95AABD;*/
padding: 3px 1px 3px 5px;
/*margin: 0;*/
/*    margin-top: 100px;*/
border-radius: 3px;
width: 10.5em;

}


.drop-nav li:first-child {


padding: 0;
margin: 15px 0;
}
    
.drop-nav li:nth-child(2) {
margin: 15px 0;
padding: 0;
text-align: left;


}
    
.drop-nav li:last-child {
background-color: none;  
height: inherit;
padding: inherit;
text-align: inherit;
font-size: 1em;
line-height: inherit;
color: white;
margin-right: 0;
    padding-left: 0;
margin-bottom: 5px;
    font-weight: inherit;
border: none;
}
    
      .drop-nav li:last-child:hover {
    background-color: none;    
    }

.drop-nav li {
margin: 15px 0;
}

.dropdown:hover > .drop-nav {
margin-top: 1px;
border-top-left-radius: 0px;
display:block;
z-index: 3000;
}
    
/*//////////////////////////////////
DISCOVERY SECTION///////////////////
//////////////////////////////////*/

.information {
flex-direction: row;
-webkit-flex-direction: row;
/*
 align-items: center;
-webkit-align-items: center;
*/
    padding: 0;
}
    
        .services {
     width: 90%;
  max-width: 700px;
      margin: -8em auto 9em auto;
        }
    
    .align {
      align-items: center;
-webkit-align-items: center;   
        
    }
    
    .align-self {
     align-self: center;
    -webkit-align-self: center;      
    }
    
    .change {
flex-direction: column;
-webkit-flex-direction: column;
        padding: 8em 0;
}
    
/*
    
    .change.info-text {
font-size: 1em;
    }
*/
    
.text-display {
 width: 25%; 
padding:  2.25em 20px 20px 20px;
     padding: 7em 1em;
}

.info-text {
width: 100%;
/*max-width: 900px;*/
padding: 0;
margin: 0 auto;
}
    
.info-text2 {
width: 100%;  
padding: 8em 3em 9.5em 3em;  
margin: 0 auto;
}
    
.info-text p, .info-text2 p {
font-size: 1.35em;
line-height: 2;
width: 80%;
max-width: 790px;
margin: 1.5em auto;
font-weight: 300;

}
    
    .info-text h4, .info-text2 h4 {
     font-size: 3em; 
        font-weight: normal;
        font-weight: 300;
    }
  

.register-button, .register-button2  {
 margin-top: 50px;


    -webkit-transition: all .4s ease-in-out;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
  font-size: 1.15em;  
}
    
.register-button  {
    width: 50%;
    max-width: 200px;
    padding: .5em;
    font-size: 1.5em;
    }
    
    .register-button2  {
    width: 40%;
          max-width: 14em;
        padding: .5em 0;
    }
        
.register-button:hover, .register-button2:hover {
/* background-color: #7698AA;*/
      background-color:#8FB9CF;
    color: white;
}
    
/*//////////////////////////////////
BIO SECTION///////////////////
//////////////////////////////////*/    
    
.cabrina-mobile {
display: none;     
}
 
.cabrina-bio {
width: 50%;  
padding: 9em 0;
z-index: 1;
  
}
  .cabrina-bio h4 {  
    font-size: 3em;
      
  }
    
.first{
font-weight: bold;
}

.cabrina-pic {
width: 50%;
  padding: 11em 1em;
}
    
.picture-c { 
margin: 0 auto;
width: 350px;
height: 350px;
background: url(../images/cabrina-image.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
border-radius: 100%;
-webkit-box-shadow: 0px 0px 7px 1px rgba(115,115,117,.75);
-moz-box-shadow: 0px 0px 7px 1px rgba(115,115,117,.75);
box-shadow: 0px 0px 7px 1px rgba(115,115,117,.75);
  }
    
.meet-coach {
margin: 0 auto;
width: 50%;
/*background-color: #82A7BD;*/

padding: 0;
/*color: white;*/
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
    
    .meet-coach p {
     font-size: 1.85em;   
        
    }
    
    
.container {
width: 85%;
    max-width: 750px;
margin: 0 auto;
background: none;
z-index: 2;
    font-size: 1.15em;
    line-height: 1.5;
}
    

    

    
  /*//////////////////////////////////
Background Images - Desktop///////////////////
//////////////////////////////////*/   
    

/*
    
  #special1,  #special2,
*/
#cover1,  #special1,  #special2 {
background-attachment: fixed; 
}
    
    .holder {
     width: 100%;
        height: 100%;
        background: hsla(202, 31%, 63%, .75);
    }

    
 /*//////////////////////////////////
Section Breaks///////////////////
//////////////////////////////////*/  
      

    
.section-break  {
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
    padding: 5em 0;
    }
 .section-break h4 {
  flex: 1 100%;
     font-size: 3em;
 }
  
.quote-text blockquote, .section-break blockquote {
 font-size: 1.15em;
    line-height: 1.6;
    font-weight: 300;
}
     
    
    .section-break blockquote {
     text-align: center;   
    }
    
.review {
width: 50%; 
padding: 1em 5em 4em 5em;
    
}
    
    .quote {
width: 75px;
height: 75px;
margin-bottom: -2em;
}

    form 
{
 margin: 0 auto;
    width: 75%;
    max-width: 700px;
}
    
.justify {
 justify-content: center;
    -webkit-justify-content: center;
}
    
    .contact-block {
     margin: 0 2.75em 3em 2.75em;
     width: 20%;
    }

    
 /*//////////////////////////////////
Company Review Section///////////////////
//////////////////////////////////*/  
    
    .company {
     width: 100%;   
        
    }
    
    .meet-company {
margin: 0 auto;
width: 100%;
/*background-color: #82A7BD;*/
padding: 10px 5px;
color: white;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
text-align: center;
        font-size: 3.45em;

    }
    
/*//////////////////////////////////
TESTIMONIAL SECTIONS BREAKS///////////////////
//////////////////////////////////*/

.width {

    padding: 12em 2em;
}
    
    
.pic-image {
 width: 10%; 
    margin-left: auto;
}
    
.quote-text {
 width: 70%; 
    max-width: 650px; 
    margin-right: auto;
    z-index: 1;
}
    
    .client-image {
 height: 125px;
    width: 125px;
/*
-webkit-box-shadow: 0px 0px 16px 1px rgba(115,115,117,1);
-moz-box-shadow: 0px 0px 16px 1px rgba(115,115,117,1);
box-shadow: 0px 0px 16px 1px rgba(115,115,117,1);
*/
}
    
.contain-picture {
 padding: .25em .1em;
    border: 1px solid grey;
    border-radius: 4px;
/*    background: white;*/
}
    
/*//////////////////////////////////
Contact SECTION ///////////////////
//////////////////////////////////*/  
    
.section-break-final {
font-size: 4.5em;
line-height: .5;
font-weight: 400;
font-style: normal;
    height: 90vh;
    }

.section-break-final p
    {
margin: .5em 0;
text-shadow: 0px 2px 2px rgba(140, 140, 140, 0.75);
    }
    
.section-break-final p.special-goodbye {
font-size: 2rem;
font-weight: 300;
    }


 /*//////////////////////////////////
Contact SECTION ///////////////////
//////////////////////////////////*/    
       .contact-info h4 {
        font-size: 3em;
           font-weight: 300;
       }
    
      .contact-block h5 {
   font-weight: normal;
        font-size: 1.85em;

    }
    
        .contact-block p {
        font-size: 2em;
            font-weight: 300;
        }
    
       .contact-info p.left {
       font-size: 1.15em;
            line-height: 1.35;  
   max-width: 525px;
       }
    .icon {
 height: 50px;
    width: 50px;
/*vertical-align:middle;*/
/*    line-height: 1.5;*/
    margin-right: 4px;
        margin-top: 4px;
}

}
