/*////////////////////////////////////////////// 
General Styling - Body, Links, Img, Logo, Lines
///////////////////////////////////////////////*/

* {
 box-sizing: border-box;   
    
}

body {
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
    color: #384652;
}

a {
 text-decoration: none;   
 color: inherit;   
}

a:hover {
 color: black;   
}

img {
 width: 100%;   
}

.img {
width: 52px;
height: 52px;  
}

.img-mobile {
 width: 32px;
height: 32px;   
    
}

.logo-mobile {
display: -webkit-flex;
display: flex;
align-items: center;
-webkit-align-items: center;   
background-color: #95AABD; 
padding: 5px;
justify-content: center;
-webkit-justify-content: center;
/*margin: 0;*/
/*margin-top: -28px;*/
position: fixed;
width: 100%;
    z-index: 99;
}

.logo-section {
 margin-right: 7px;
    
}

.title-section {
/*   flex-grow: 2;*/
    text-align: center;
}

.logo-title {
   font-size: 1em;  
color: white;
}
.logo-description {
     font-size: .65em;
    color: white;
}

    
.mask { 
height: 1px; 
/*margin: 4px 0;*/
    margin: 2px auto;
width: 80%; 
border-radius: 1px;
border-bottom: 1px solid white;
}

    
.mask2 { 
height: 1px; 
/*margin: 4px 0;*/
margin: .75em auto;
width: 40%; 
border-radius: 1px;
border-bottom: 1px solid white;
}






/*////////////////////////////////////////////// 
Navigation MENU
///////////////////////////////////////////////*/

nav.top-nav {
 display: none;   
 margin: 0;
    padding: 0;
    z-index: 100;
}

.mobile-nav {
display: -webkit-flex;
display: flex;
position: fixed;
width: 100%;
align-items: center;
-webkit-align-items: center;   
background-color: #95AABD; 
padding: 10px;
justify-content: center;
/*    margin: 0;*/
    margin-top: 45px;
border-top: 2px solid white;
-webkit-box-shadow: 0px 3px 11px 0px rgba(76, 76, 76, 0.75);
-moz-box-shadow:    0px 3px 11px 0px rgba(76, 76, 76, 0.75);
box-shadow:         0px 3px 11px 0px rgba(76, 76, 76, 0.75);
    z-index: 100;
}

.mobile-nav li {
flex-grow: 1; 
    -webkit-flex-grow: 1;
text-align: center;
color: white;
list-style: none;
font-size: 1em;
}


/*////////////////////////////////////////////// 
HEADER
///////////////////////////////////////////////*/

.intro-cover {
margin: 0;
width: 100%;
height: 70vh;
background: url(../images/stockphoto.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
}

.intro-container {
    padding-top: 8em;
}
.intro-container p.intro-p {
 font-size: 1.55em;
text-align: center;
color: white;
margin: 0 0 .5em 0;
     text-shadow: -3px 4px 6px black;
}

.intro-container h1 {
 font-size: 4em;
    text-align: center;
    color: white;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    text-shadow: -3px 4px 6px black;
}

  
.intro-container p.sub-title {
 font-size: 1.25rem;
/*font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
    text-align: center;
    color: white;
}
    
    .head-down-arrow {
 width: 80px;
    height: 80px;
margin: 2.5em auto;
}
    
    


/*////////////////////////////////////////////// 
Header Services Sections 
///////////////////////////////////////////////*/

.section-image {
 width: 40px;
margin: 3.5em auto;
    
}

.section-career {
margin: 0;
text-align: center;
padding: 5.5em 0;
}

.section-career h3 {
 color: white;
font-size: 2em;
    margin: 0;
}

.section-career p {
    color: white;
    font-size: 1em;
    margin: 0;
}

.blue {
/*  background-color: #7E90A0;*/
       background-color: #95AABD;
}

.aqua {
   background-color: #9EC4CC;   
}

.dark-blue {
/* background-color: #81A5A0;   */
    background-color: #95AABD;
    
}

.grey {
background-color: #F7FAFA;    
    
}

.white {
 background-color: white;   
}

.white-text {
 color: white;   
}

/*//////////////////////////////////
DISCOVERY SECTION///////////////////
//////////////////////////////////*/

.information {
display: -webkit-flex;
display: flex;
flex-direction: column;
-webkit-flex-direction: column;
/*background-color: #FCFFFF;*/
margin: 0 auto;
}

.information p {
font-size: 1em;
line-height: 1.7;    
}

.information h4 {
font-size: 1.75em;   
}

.text-display, .text-display1 {
text-align: center;
font-size: 4em;
color: #34415C;
}

.narrow-text, .info-text, .cabrina-bio {
 padding: 20px 10px 40px 10px;   
}

.info-text h4 {
 text-align: center;
    
}

.narrow-text p, .narrow-text h4 {
color: white; 
}


.register-button {
padding: 10px 15px; 
font-size: 1.2em;
color: white;
border: 2px solid white;
border-radius: 4px;
text-align: center;
width: 90%;
margin: 20px auto 0 auto;
}


/*//////////////////////////////////
Meet the COACH SECTION///////////////////
//////////////////////////////////*/

.meet-coach {
 text-align: center;
    padding: 40px 5px;
}
.meet-coach p {
line-height: 0;
font-size: 1.5em;
margin: 0;
}

.cabrina-bio {
 z-index: 1;   
}

.meet-coach h4 { 
line-height: 0;
font-size: 3em; 
margin: .5em ;
}

.cabrina-mobile {
margin: 0 auto 75px auto;
height: 200px;
width: 200px;
}
.cabrina-mobile img {
   border-radius: 100%; 
    
}

.triangle {
width: 175px;
height: 175px;
z-index: -1;
position: absolute;
}


/*//////////////////////////////////
Life Coaching Services SECTION///////////////////
//////////////////////////////////*/    
 
.down-arrow {
 width: 30px;
    height: 30px;
margin: 0 auto;
}

.head-down-arrow {
 width: 60px;
    height: 60px;
margin: 1.5em auto;
}

.goal-list {
 padding: 25px 5px;
    color: white;
}

.goal-list ul {
 list-style: none;   
  text-align: center;
list-style-type: none;
    margin: 0 auto;
padding: 0;
}

.goal-list ul li {
 margin: 15px auto;
list-style-position: inside;
}

.direction-reverse {
flex-direction: column-reverse;   
}

 /*//////////////////////////////////
Section Breaks///////////////////
//////////////////////////////////*/  
    
        
        
.cover {
margin: 0 auto;
width: 100%;
/*height: 75vh;*/
padding: 0;

    }

#cover1 {
     background: url(../images/stockphoto1.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;   
}

.section-break {
 padding: 50px 10px;
    color: white;
 
}

.section-break section {
    z-index: 1;   
}

.section-break blockquote {
 font-size: 1.15em;
    line-height: 1.55;
    
}


.section-break h4 {
 text-align: center;   
    
}

.quote {
width: 35px;
height: 35px;
z-index: -1;
position: relative;
margin-bottom: -20px;
}

cite {
 font-size: .9em;
    line-height: 1.5;
    
}
 /*//////////////////////////////////
Company Review///////////////////
//////////////////////////////////*/  
    

.company-logo {
 height: 40px;
    width: 40px;
    margin: 5em .5em;
    
}

.flow {
    
   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;   
}



/*//////////////////////// //////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

Tablet VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 690px) {
    
    .services {
display: -webkit-flex;
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
}
    
    .section-career {  
width: 50%;
    }    
    
.narrow-text, .info-text, .cabrina-bio {
 padding: 30px 50px;   
}
    
    
}
    

/*//////////////////////////////////////////////
////////////////////////////////////////////////
////////////////////////////////////////////////

DESKTOP VERSION - MEDIA QUERIES

////////////////////////////////////////////////
////////////////////////////////////////////////
///////////////////////////////////////////////*/

@media only screen and (min-width: 800px) {
    
    
.logo-mobile, .mobile-nav {
 display: none;

}
    
    .intro-cover {
height: 90vh;
    }
    

    
/*////////////////////////////////////////////// 
DESKTOP - NAVIGATION, HEADER, and SERVICES SECTION
///////////////////////////////////////////////*/
 
  .intro-container  {
padding-top: 10em;
text-align: left;
/*      padding-left: 7em;*/
      width: 50%;
/*      border: 1px solid red;*/
  }
    
  
    .intro-container p.intro-p {
font-size: 2rem;
font-family: 'Roboto', sans-serif;
        font-weight: 300;
/*        font-weight: bold;*/
        letter-spacing: .08em;
        margin-bottom: .5em;
/* text-shadow: -3px 4px 6px black;*/
/*          font-family: 'Roboto Slab', serif;*/
/*          font-family: 'Roboto Condensed', sans-serif;*/
}

.intro-container h1 {
font-size: 6em;
    font-family: 'Roboto Slab', serif;
/*      font-family: 'Roboto Condensed', sans-serif;*/
    margin: -.01em 0;
/*    text-shadow: -3px 4px 6px rgba(150, 150, 150, 1);*/
/*    text-shadow: -3px 4px 6px black;*/
}
    
.intro-container p.sub-title {
 font-size: 1.5rem;
/*font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;  
}
    
    .head-down-arrow {
 width: 80px;
    height: 80px;
margin: 2.5em auto;
}
    
    
    
  

   
    
    
    
    
    /*Services Section*/   
.section-career {  
margin: 0;
width: 25%;
    }
   
    
    
/*NAVIGATION*/

nav.top-nav {
background-color: #95AABD;
display: inherit;
    position: fixed;
    width: 100%;
margin-top: 0px;
/*margin: 0;*/
-webkit-box-shadow: 0px 3px 11px 0px rgba(76, 76, 76, 0.75);
-moz-box-shadow:    0px 3px 11px 0px rgba(76, 76, 76, 0.75);
box-shadow:         0px 3px 11px 0px rgba(76, 76, 76, 0.75);
}

.top-list {
display: -webkit-flex;
display: flex;
align-items: center;
-webkit-align-items: center;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
margin: 0;
}
    
.top-list li {
flex-wrap: wrap;
margin: 0 12px;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
list-style: none;
    color: white;
    font-size: 1em;
}


.top-list li:nth-child(2) {
margin-right: auto;  
padding: 6px 0px;
text-align: center;
  font-family: 'Oxygen', sans-serif;
}
    
.top-list li:first-child {

    margin: 0 0 0 -20px;
padding: 0;
   
}
    
.top-list li:nth-child(5) {
margin-right: 40px;
}
    
    
.top-list li:last-child {
/*    background-color: #D16758;  */
/*    background-color: #79E885;*/
    background-color: #9EC4CC;
    height: 100%;
    padding: 9px 20px;
    text-align: center;
    font-size: 1.35em;
    line-height: 1.5;
    color: white;
    margin-right: 0;
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
    
    .top-list li:last-child:hover {
    background-color: #BCE9F2;    
    }
    
    
.logo-title {
   font-size: 2em;  
font-weight: bold;
}
.logo-description {
     font-size: .85em;

}

.mask { 

margin: 5px 0;
width: 100%; 

}
    
.mask2 { 

margin: 1.5em auto;
width: 35%; 

}


    
/*DROP DOWN MENU*/

.dropdown {
position: relative;
}
.drop-nav {
position: absolute;
display: none;
background: #7E90A0;
padding: 3px 1px 3px 5px;
margin: 0;
border-radius: 3px;
width: 145px;
	-webkit-box-shadow: 0 8px 6px -6px rgba(76, 76, 76, 0.75);
	   -moz-box-shadow: 0 8px 6px -6px rgba(76, 76, 76, 0.75);
	        box-shadow: 0 8px 6px -6px rgba(76, 76, 76, 0.75);
}


.drop-nav li:first-child {
 font-family: 'Roboto', sans-serif;  

padding: 0;
margin: 15px 0;
}
    
.drop-nav li:nth-child(2) {
margin: 15px 0;
padding: 0;
text-align: left;
    font-family: 'Roboto', sans-serif;  

}
    
.drop-nav li:last-child {
background-color: inherit;  
height: inherit;
padding: inherit;
text-align: inherit;
font-size: 1em;
line-height: inherit;
color: white;
margin-right: 0;
    padding-left: 0;
margin-bottom: 5px;
font-family: 'Roboto', sans-serif; 
    font-weight: inherit;

}
    
      .drop-nav li:last-child:hover {
    background-color: inherit;    
    }

.drop-nav li {
margin: 15px 0;
}

.dropdown:hover > .drop-nav {
margin-top: 1px;
border-top-left-radius: 0px;
display:block;
z-index: 3000;
}
    
/*//////////////////////////////////
DISCOVERY SECTION///////////////////
//////////////////////////////////*/

.information {
flex-direction: row;
-webkit-flex-direction: row;
}
    
.text-display {
 width: 25%; 
padding:  2.5em 20px 20px 20px;
/*     padding: 7em 1em;*/
}
.narrow-text{
 width: 25%;   
  padding: 7em 1.5em;
}

.info-text {
 width: 50%;   
  padding: 7em 3em;
}
    
.info-text p {
  font-size: 1.275em;
    line-height: 1.7;
    max-width: 6503px;
}
    
.rotate1 {

font-size: 5rem;
transform: rotate(270deg) ;
-webkit-transform: rotate(270deg) ;
-moz-transform: rotate(270deg) ;
-o-transform: rotate(270deg) ;
-ms-transform: rotate(270deg);
    }

.register-button {
 margin-top: 50px;
    width: 100%;
    
}
.register-button:hover {
 background-color: #BCE9F2;
}
    
/*//////////////////////////////////
BIO SECTION///////////////////
//////////////////////////////////*/    
    
.cabrina-mobile {
display: none;     
}
 
.cabrina-bio {
width: 50%;  
padding: 0;
z-index: 1;
}
    
.first::first-line {
font-weight: bold;
}

.cabrina-pic {
width: 50%;
  padding: 13em 1em;
}
    
.picture-c { 
margin: 0 auto;
width: 350px;
height: 350px;
background: url(../images/cabrina-image.jpg) no-repeat center center;
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover;
border-radius: 100%;
  }
    
.meet-coach {
margin-left: auto;
width: 50%;
background-color: #9EC4CC;

padding: 80px 5px 30px 5px;
color: white;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
    
.container {
width: 85%; 
margin: 0 auto;
background: none;
z-index: 2;
}
    
.triangle {
width: 175px;
height: 175px;
z-index: -1;
position: absolute;
}
    
 /*//////////////////////////////////
Life Coaching Services SECTION///////////////////
//////////////////////////////////*/  

.rotate {
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);   
 font-size: 5rem;   
}
    
    .goal-list {
        padding: 80px 5px;
     width: 25%;   
        
    }
    
        
.text-display1 {
 width: 25%; 
padding: .9em 5px;
}
    
.goal-list ul li {
 margin: 2.75em auto;
}
    
 /*//////////////////////////////////
Section Breaks///////////////////
//////////////////////////////////*/  
    
#cover1 {
background-attachment: fixed; 
}
    
.section-break  {
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
    }
 .section-break h4 {
  flex: 1 100%;
     font-size: 3em;
 }
  
.section-break blockquote {
 font-size: 1.35em;
    line-height: 1.85;
}
    
.review {
width: 50%; 
padding: 1em 5em 4em 5em;
    
}
    
    .quote {
width: 75px;
height: 75px;
margin-bottom: -2em;
}
    
    .container2 {
     width: 75%;
        max-width: 900px;
        margin: 0 auto;
        padding: 30px 20px;
        font-size: 1.55em;
        line-height: 1.9;
    }
    
 /*//////////////////////////////////
Company Review Section///////////////////
//////////////////////////////////*/  
    
    .company {
     width: 50%;   
        
    }
    
    .meet-company {
margin-right: auto;
width: 50%;
background-color: #9EC4CC;
padding: 20px 5px;
color: white;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
text-align: center;
        font-size: 1.45em;
    }


    
}